<div class="space-y-10">
    <section class="text-center">
        <h1 class="mt-2 text-3x1 font-medium">Admin Console</h1>
    </section>
    <section>
        <p>
            These buttons currently do not do anything. I have very limited plans to add admin controls for auth0 since
            it's on the bottom of my list for implementation. I will just show dummy data and give an example
            of the actions a user may one day perform here.
        </p>
    </section>
    <section>
        <table class="table-auto border-separate border-spacing-2 border border-gray-200">
            <thead>
                <tr>
                    <th class="border border-gray-100">Username</th>
                    <th class="border border-gray-100">Date added</th>
                    <th class="border border-gray-100">Roles</th>
                    <th class="border border-gray-100"></th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td class="border border-gray-100">M</td>
                    <td class="border border-gray-100">11/19/1980</td>
                    <td class="border border-gray-100">Admin, Dataflow, Cashflow</td>
                    <td class="border border-gray-100"><button matButton>Modify</button></td>
                </tr>
                
            </tbody>
        </table>
    </section>
</div>