<div>
    <section class="text-center">
        <h2 class="mb-4 text-3x1 font-semibold">About</h2>
        <p>This is an introductory multi-row / grid layout</p>
    </section>
    <section>
    <div class="flex items-center">
        <h1 class="mt-2 text-3x1 font-medium">Welcome</h1>
    </div>
    <div class="grid grid-cols-5 gap-3">
        <div class="col-span-4">
            This application is being designed so a user may inspect their company cash flow
            and dataflow.
        </div>
        <div>
            This application is designed and implemented by mattsw for demo purposes.
        </div>
    </div>
    </section>
</div>